<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nayeemakij.bajitpuronlineshop">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/mainlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/mainlogo"
        android:supportsRtl="true"
        android:theme="@style/CustomAppTheme">

        <activity android:name="com.nayeemakij.bajitpuronlineshop.view.UserPanel.Profile"/>
        <activity android:name="com.nayeemakij.bajitpuronlineshop.view.AdminPanel.ShowCustomerOrder" />
        <activity android:name="com.nayeemakij.bajitpuronlineshop.view.UserPanel.OrderConfirm" />
        <activity android:name="com.nayeemakij.bajitpuronlineshop.view.UserPanel.OrderReview" />
        <activity android:name="com.nayeemakij.bajitpuronlineshop.view.UserPanel.ProductCard" />
        <activity android:name="com.nayeemakij.bajitpuronlineshop.view.AdminPanel.FurnitureData" />
        <activity android:name="com.nayeemakij.bajitpuronlineshop.view.AdminPanel.ToysData" />
        <activity android:name="com.nayeemakij.bajitpuronlineshop.view.AdminPanel.StationaryData" />
        <activity android:name="com.nayeemakij.bajitpuronlineshop.view.AdminPanel.FoodsData" />
        <activity android:name="com.nayeemakij.bajitpuronlineshop.view.AdminPanel.LibraryData" />
        <!--<activity android:name=".UserPanel.Registration.VerificationActivity" />-->

        <activity android:name="com.nayeemakij.bajitpuronlineshop.view.AdminPanel.AdminDashboard"
            android:theme="@style/AppTheme"/>

        <activity android:name="com.nayeemakij.bajitpuronlineshop.view.UserPanel.Registration.UserRegistration"
            android:theme="@style/AppTheme"/>
        <activity android:name="com.nayeemakij.bajitpuronlineshop.view.UserPanel.Registration.UserLogIn"
            android:theme="@style/AppTheme"/>

        <activity
            android:name="com.nayeemakij.bajitpuronlineshop.view.UserPanel.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.WelcomeScreen.SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/CustomAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>